* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 50px;
    background-color: rgb(138, 48, 48);
    color: #f8f9fa;
    text-align: center;
    font-size: 0.8em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#nav-bar {
    height: 50px;
    background: #eb4aba;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 5px grey;
}

#header-img {
    height: 100%;
}

#nav-links {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

#nav-links a {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

main {
    padding-top: 100px;
    text-align: center;
}

#historia {
    padding: 50px 0;
    background: linear-gradient(to right, #207ce5, #499bea);
    display: flex;
    justify-content: center;
}

.content {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

h2 {
    color: #ff0084;
}

ul {
    text-align: left;
}

.white-hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: white;
}

p {
    padding-top: 10px;
    font-size: 20px;
}

h4 {
    padding-top: 20px;
}

#about {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

#video {
    width: 100%;
}

#pricing {
    padding: 50px 0;
    background: linear-gradient(to right, #207ce5, #499bea);
    display: flex;
    justify-content: center;
}

.informacion {
    width: 180px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-flow: column;
}

.contenido-header {
    background-color: #ef017c;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 15px 0px;
}

.contenido-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    line-height: 1.5em;
    font-size: 20px;
}

.price-btn {
    margin: 20px 0;
    margin-top: auto;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #ff0084;
}

.price-btn:hover {
    background-color: #ff0084;
    color: white;
}

#form {
    padding: 50px 0;
}

#email {
    min-width: 200px;
    padding: 5px 5px;
    margin: 15px 0;
    border: 2px solid #ff0084;
}

#submit {
    font-weight: bold;
    background-color: rgba(255, 0, 132, 1);
    border: none;
    cursor: pointer;
    padding: 10px 32px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#submit:hover {
    background-color: rgba(203, 96, 179, 1);
}

.price-container {
    flex-direction: row;
    justify-content: space-around;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    font-size: initial;
    color: #499bea;
}

@media (max-width: 600px) {
    .price-container {
        flex-direction: column;
        align-items: center;
    }
    .informacion {
        margin-bottom: 20px;
    }
}